@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex; flex-direction: column; justify-content: center">
<h2 style="text-align: center; margin-top: 60px">Bine ați venit</h2>

<p style="margin:60px auto; background-color: white; width:600px; text-align: justify; font-size: 17px; padding: 15px; border-radius: 20px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px">
        Pe acest site, puteți fie să începeți o nouă discuție pe un subiect care vă interesează, fie să vă alăturați unei discuții existente, comentând la postarea altcuiva. Vă încurajăm să fiți respectuos și atent față de opiniile și opiniile celorlalți, chiar dacă nu sunteți de acord. Sperăm că veți găsi acest site un loc util și captivant pentru discuții și așteptăm cu nerăbdare să vă auzim gândurile și ideile.
</p>

<a class="btn alert-dark" href="/Categories/Index" style="margin: auto">Vedeți categoriile</a>
</div>